version: '3.8'

services:
  springboot-backend:
    image: smart-store-pos:latest
    build: .
    container_name: springboot-backend
    ports:
      - "8080:8080"
    environment:
      # Keep the memory fix
      JAVA_TOOL_OPTIONS: "-Xms256m -Xmx350m -XX:+UseSerialGC -Djava.net.preferIPv4Stack=true"
      
      # Use variables again
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      AI_SERVICE_URL: ${AI_SERVICE_URL}
    depends_on:
      - ai-service

  ai-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai-service
    ports:
      - "5000:5000"
    environment:
      # Keep the memory fix
      JAVA_TOOL_OPTIONS: "-Xms256m -Xmx350m -XX:+UseSerialGC -Djava.net.preferIPv4Stack=true"
      
      # Use variables again
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
